<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_09f9b12ad4d3e58eaa38ab5382311eaa {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_09f9b12ad4d3e58eaa38ab5382311eaa" ></div>
        
</body>
<script>
    
    
            var map_09f9b12ad4d3e58eaa38ab5382311eaa = L.map(
                "map_09f9b12ad4d3e58eaa38ab5382311eaa",
                {
                    center: [-23.5489, -46.6388],
                    crs: L.CRS.EPSG3857,
                    maxBounds: [[-90, -180], [90, 180]],
                    zoom: 10,
                    zoomControl: false,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_392ab0d83e83d92a25e12013f02e9502 = L.tileLayer(
                "https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"https://carto.com/attributions\"\u003eCARTO\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 20, "maxZoom": 20, "minZoom": 4, "noWrap": false, "opacity": 1, "subdomains": "abcd", "tms": false}
            );
        
    
            tile_layer_392ab0d83e83d92a25e12013f02e9502.addTo(map_09f9b12ad4d3e58eaa38ab5382311eaa);
        
    
            var marker_cluster_2e510b200cf2850e569417bd13d88ddb = L.markerClusterGroup(
                {}
            );
        
    
            var marker_12a848193e7804acdb5a86800ba01505 = L.marker(
                [-12.647130229098, -47.142744026727],
                {}
            ).addTo(marker_cluster_2e510b200cf2850e569417bd13d88ddb);
        
    
            var icon_a7f3c4e6c3c62c456317b302b32cc98c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_12a848193e7804acdb5a86800ba01505.setIcon(icon_a7f3c4e6c3c62c456317b302b32cc98c);
        
    
        var popup_63fecd52dc0bf829668d1fcad5f7317f = L.popup({"maxWidth": "100%"});

        
            
                var html_c3b3749d76d1dbc6f4b5dee9102fc995 = $(`<div id="html_c3b3749d76d1dbc6f4b5dee9102fc995" style="width: 100.0%; height: 100.0%;">         <span>Registered by: teste1</span>         <ul>             <li>Descrição: testando se esta proximo de agua</li>             <li>Gravidade: low</li>         </ul>         </div>`)[0];
                popup_63fecd52dc0bf829668d1fcad5f7317f.setContent(html_c3b3749d76d1dbc6f4b5dee9102fc995);
            
        

        marker_12a848193e7804acdb5a86800ba01505.bindPopup(popup_63fecd52dc0bf829668d1fcad5f7317f)
        ;

        
    
    
            var marker_06354b5180d854d1d9f1a6042dc0c9ce = L.marker(
                [-12.647130229098, -47.142744026727],
                {}
            ).addTo(marker_cluster_2e510b200cf2850e569417bd13d88ddb);
        
    
            var icon_6e9158a6cf5c601314a31b8b5d9d40b6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_06354b5180d854d1d9f1a6042dc0c9ce.setIcon(icon_6e9158a6cf5c601314a31b8b5d9d40b6);
        
    
        var popup_797daf2c16e2392db83872b8535a1337 = L.popup({"maxWidth": "100%"});

        
            
                var html_a8e8a2e65b09f3132033ce4c2f49a565 = $(`<div id="html_a8e8a2e65b09f3132033ce4c2f49a565" style="width: 100.0%; height: 100.0%;">         <span>Registered by: teste1</span>         <ul>             <li>Descrição: testando se esta proximo de agua</li>             <li>Gravidade: medium</li>         </ul>         </div>`)[0];
                popup_797daf2c16e2392db83872b8535a1337.setContent(html_a8e8a2e65b09f3132033ce4c2f49a565);
            
        

        marker_06354b5180d854d1d9f1a6042dc0c9ce.bindPopup(popup_797daf2c16e2392db83872b8535a1337)
        ;

        
    
    
            marker_cluster_2e510b200cf2850e569417bd13d88ddb.addTo(map_09f9b12ad4d3e58eaa38ab5382311eaa);
        
</script>
</html>