appwrite==5.0.3
blinker==1.8.2
branca==0.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
folium==0.16.0
geographiclib==2.0
geopy==2.4.1
gunicorn==22.0.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==1.26.4
packaging==24.0
python-dotenv==1.0.1
requests==2.32.2
urllib3==2.2.1
Werkzeug==3.0.3
xyzservices==2024.4.0
