* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.homepage-main {
    display: flex;
    gap: 1vw;
}

.map-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

.map {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76vw;
    height: 98vh;
    border-radius: 2rem;
    background-color: #716047;
}

.hamburger-icon {
    position: absolute;
    top: 3rem;
    left: 3rem;
    cursor: pointer;
    color: var(--secondary-color);
}

.sidebar-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 22vw;
    height: 98vh;
    gap: 1rem;
}

.profile-sidebar {
    display: flex;
    width: 100%;
    border-radius: 1.5rem;
    background-color: var(--sidebar-widget-color);
}

.profile-image {
    display: flex;
    width: 30%;
    padding: 1rem;
    border-radius: 100rem;
}

.profile-infos {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile-name {
    font-size: 1rem;
    margin: 0;
}

.profile-level {
    font-size: 0.9rem;
    color: var(--text-color-details);
    margin: 0;
}

.settings-sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: var(--sidebar-widget-color);
}

.settings-sidebar-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.settings-icon {
    width: 1.5rem;
}

.settings-title {
    font-size: 1rem;
}