@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --background-color: #00121F;

  --sidebar-widget-color: rgba(24, 67, 78, 0.5);

  --primary-color: #A8F1FF;
  --secondary-color: #18434E;
  --accent-color: #54DEE8;
  --text-color: #FFFFFF;
  --text-color-details: rgba(255, 255, 255, 0.5);

}

body {
  height: 100vh;
  font-family: "Varela", sans-serif;
  background-color: var(--background-color);
}
